
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Customer Table</h2>*@

<div id='customer'></div>

@section Scripts{
    <script src="~/Scripts/react/dist/Customers.bundle.js"></script>
}

